* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: rgb(11, 66, 16);
  color: whitesmoke;
  font-family: sans-serif;
}

body h1 {
  text-align: center;
  font-size: 52px;
  padding: 40px 0px;
}

body p {
  text-align: center;
  font-size: 32px;
}

.field {
  display: grid;
  grid-template-columns: repeat(7, 200px);
  padding: 30px;
  justify-content: center;
}

.field img {
  width: 100%;
  height: 100%;
}

.input-button {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}

.input-button button {
  margin-left: 20px;
  width: 100px;
  height: 25px;
  background: none;
  border-color: whitesmoke;
  border-radius: 5px;
  font-size: 16px;
  color: whitesmoke;
  cursor: pointer;
}

.win-text {
  position: absolute;
  top: 37%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
}

.fadeIn {
  opacity: 1;
}

.fadeOut {
  opacity: 0;
}
